<header class="header">
    <nav class="nav">
        <img class="logo" src="./assets/images/logo.png" alt="logo Spotify">

        <a href="#" class="nav_toggle">
            <img src="./assets/images/menu-icon.png">
        </a>
        <ul class="nav_menu">
            <li class="nav_menu-item"><a href="#" class="nav_menu-link nav_link">Premium</a></li>
            <li class="nav_menu-item"><a href="#" class="nav_menu-link nav_link">Ayuda</a></li>
            <li class="nav_menu-item"><a href="#" class="nav_menu-link nav_link">Descargar</a></li>
            <li class="nav_menu-item"><a href="#" class="nav_menu-link nav_link">Registrarse</a></li>
            <li class="nav_menu-item"><a href="#" class="nav_menu-link nav_link">Iniciar sesión</a></li>
        </ul>
    </nav>
</header>
