<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
     <section class= "section1">
     <article class="article">
            <h1>Prueba Premium gratis 3 meses</h1>
            <h2>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
            <a href="#" class="Plans">Ver Planes</a>
            <small>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que hayan probado <br>Premium.</small>
        </article>
    </section>
